
/*navbar*/
body{
    font-family: 'Mulish', sans-serif;
}

#navbar {
font-family: 'Mulish', sans-serif;
background-color: #ffff!important;
color: #000!important;
box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
z-index: 1;

}

#navbar a{
color: #000;
}

.nav-item{
    font-size: 1.16rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 0.8rem;
    color: #000!important;
  
}

nav .iconos{
    letter-spacing: 0.6rem;
}

.viajes-chile{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-style: italic;
}

/*carousel*/

.carousel-item {
    max-height:100vh;
    background: no-repeat scroll center scroll;
    background-size: cover;
    object-fit: cover;
   }


.carousel-caption{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
  
}

.tituloslider{
    font-size: 40px;
    font-weight: bolder;
    color: #ffff;
}

.textoslider{
    font-size: 25px;
}

.btn{
    background-color: #F27757;
    color: #ffff;
    font-size: 20px;
}

.box{
    max-width: 650px;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, .3);
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}

/*Presentacion*/

#quienes-somos i{
    color: #F27757;

}

/*CARDS VIAJES background-color: #F5F2F0;*/

#viajes{
   
    font-family: 'Mulish', sans-serif;
}

.card img{
    max-width: 100%;
    height: 15.6rem;
}

.card h2{
    font-weight: 700;
    font-size: 1.8rem;
}

.pack i{
    letter-spacing: 0.3rem;
}

/*Footer*/

footer {
    background-color: #F27757;
    color: #ffff;
    

}

.iconos-footer{
    letter-spacing: 0.6rem;
}

footer h3{
    font-size: 30px;

}

.favicon-footer {
    
   letter-spacing: 0.5rem;
  }
  .favicon-footer a{
      color: #ffff!important;
  }
