/*navbar*/
body{
    font-family: 'Mulish', sans-serif;
}

#navbar {
font-family: 'Mulish', sans-serif;
background-color: #ffff!important;
color: #000!important;
box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
z-index: 1;

}
#navbar a{
color: #000;
}

.nav-item{
    font-size: 1.16rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 0.8rem;
    color: #000!important;
  
}

.iconos{
    letter-spacing: 0.6rem;
}

/*carousel styles*/

.carousel-item {
    max-height:100vh;
    background: no-repeat scroll center scroll;
    background-size: cover;
   }


.carousel-caption{
   position: absolute;
   top: 60%;
   transform: translateY(-50%);
  
}

.tituloslider{
    font-size: 40px;
    font-weight: bolder;
    color: #ffff;
}

.textoslider{
    font-size: 25px;
}

.btn{
    background-color: #F27757;
    color: #ffff;
    font-size: 20px;
}


.bg-custom{
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffff;
    border-radius: 1rem;
}

/*Presentacion*/

#quienes-somos i{
    color: #F27757;

}

/*CARDS VIAJES background-color: #F5F2F0;*/

#viajes{
   
    font-family: 'Mulish', sans-serif;
}

.card img{
    max-width: 100%;
    height: 15.6rem;
}

.card h2{
    font-weight: 700;
    font-size: 1.8rem;
}

/*FORMULARIO*/

